.ontop{
  margin-top: 16px;
  margin-right: 8px;
  display: flex;
  align-items: flex-start;


  p{
    font-size: 19px;
    color: black;
    font-family: $my-font;
    margin-left: 11px;
  }

  i{
    font-size: 25px;
    margin-right: 5px;
    margin-top: 2px;
  }
}

#show-feed{
  background-color: white;
  font-family: $my-font;

.form-whole{
  margin-bottom: 50px;
}

// .feedback-form{
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.butters {
  background: linear-gradient(to right, #9C448C, #661A58);
  color: white;
  border-radius: 15px;
  border: none;
  height: 47px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  font-size: 17px;
  font-family: $my-font;
  padding: 0px 111px;
}

.buttys-container{
  display: flex;
  justify-content: center;
  align-items: center;
}



.feedback-img {
  border-radius: 12px 12px 0px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 8px;
}


.border-holder{
  display: flex;
  justify-content: center;
}

.ourline{
  height: 2px;
  width: 99px;
  background-color: #e1e1e1;
  margin-bottom: 20px;
  margin-top: 6px;
  border-radius: 50px;
}

.text-in{
  margin-left: 5px;
  font-family: $font-family-lato;
  margin-top: 15px;
  margin-right: 10px;

  .on-top {
    font-size: 15px;
    color: black;
  }

  .on-bottom {
    font-size: 13px;
    color: rgb(124, 124, 124);
  }
}

.username-cont{
  margin-top: 8px;
  margin-left: 8px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.usern{
font-size: 14px;
color: black;
font-family: $my-font;

}

.feedback-styling {
font-size: 13px;
color: black;
font-family: $my-font;
margin-left: 10px;
margin-right: 10px;
}


.card-surr-centering{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  color: rgb(0, 0, 0);

  .card-surrounding{
  min-height: 250px;
  width: 400px;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 20px;
  }
}


.centering-average{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -4px;
  color: rgb(0, 0, 0);

  .h4 {
    font-size: 15px;
    text-align: center;
    }

}

.centering-stars{
  display: flex;
justify-content: center;
align-items: center;
}

.centering-feedback{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  color: rgb(0, 0, 0);
}

.centering-average2{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  color: rgb(142, 142, 142);


  .h4 {
    font-size: 15px;
    text-align: center;
    }

}


.text-desc{
  margin-left: 5px;
  font-family: $font-family-lato;
  margin-top: 15px;
  margin-right: 10px;
  font-size: 15px;
  color: black;

  i{
    color: rgb(255, 217, 3);
  }
}



.pfp-feedback-centering {
  display: flex;
  margin-top: 8px;

  .profile-pic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
  }

  p{
    margin-left: 11px;
  }
}

.user-fb-styling{
  margin-left: 10px;
  font-family: $font-family-lato;
  margin-top: 4px;
  margin-right: 10px;
  font-size: 15px;
  color: black;

  i{
    color: rgb(255, 217, 3);
  }
}


.low-text-feedback {
  margin-left: 10px;
  font-family: $font-family-lato;
  margin-top: 15px;
  margin-right: 10px;
  font-size: 13px;
  color: rgb(124, 124, 124);
}

.inside-t{
  color: rgb(112, 112, 112);
}

}
