<div class="ontop">
  <%= link_to :back do %>
    <i class="fa-solid fa-arrow-left" style="color: black"></i>
  <% end %>
  <p>Notifications</p>
</div>

<hr>
<% @notifications.order(created_at: :desc).each do |notification| %>
  <% post = Post.find(notification.post_id) %>
  <% if post.user_id == current_user.id %>
    <div class="notification-card">
      <p><strong><%= User.find(notification.user_id).user_name %></strong> has <strong>commented</strong> on your post.</p>
      <p><%= time_ago_in_words(notification.created_at) %> ago</p>
    </div>
  <% else %>
  <% end %>
  <hr>
<% end %>
