<div class="navbar-meetwear">
  <div>Logo</div>
    <div class="">
      <%= link_to "", class: "navbar-navigation text-decoration-none" do %>
          <i class="fa-regular fa-star" style="color: black"></i>
      <% end %>
      <%= link_to "", class: "navbar-navigation text-decoration-none" do %>
          <i class="fa-regular fa-comment" style="color: black"></i>
      <% end %>
    </div>
</div>
