<div class="navbar-meetwear" >
  <div class="wavy-bg" style="background-image: url('<%= image_url "wave1.svg"  %>');"></div>
  <div class="logo">
  <%# <h3 class="logotyp">MeetWear</h3> %>
    <%= link_to root_path do %>
 <svg width="51" height="39" viewBox="0 0 51 39" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M27.4445 17.4971C27.4445 16.21 28.4878 15.1666 29.7749 15.1666V15.1666C30.5724 15.1666 31.3146 15.5745 31.7421 16.2477L33.6616 19.2701C36.1824 23.2394 41.988 23.2014 44.4567 19.1995L46.2654 16.2675C46.6875 15.5832 47.434 15.1666 48.2379 15.1666V15.1666C49.5179 15.1666 50.5556 16.2043 50.5556 17.4843L50.5556 27.4444C50.5556 33.8264 45.382 39 39 39V39C32.6181 39 27.4445 33.8264 27.4445 27.4444L27.4445 17.4971Z" fill="white"/>
<path d="M23.8334 21.4159C23.8334 22.751 22.751 23.8334 21.4159 23.8334V23.8334C20.6006 23.8334 19.8403 23.4224 19.3936 22.7404L17.394 19.6873C14.7702 15.681 8.88534 15.72 6.31483 19.7607L4.43246 22.7197C3.99122 23.4133 3.22615 23.8334 2.40408 23.8334V23.8334C1.07637 23.8334 4.22578e-05 22.7571 4.22578e-05 21.4293V11.9167C4.22578e-05 5.33532 5.33532 4.22578e-05 11.9167 4.22578e-05V4.22578e-05C18.4981 4.22578e-05 23.8334 5.33531 23.8334 11.9167V21.4159Z" fill="white"/>
</svg>
    <% end %>
  </div>
    <div class="navbar-navigation">
      <%= link_to notifications_path, class: "icon-bell" do %>
        <i class="fa-regular fa-bell"></i>
      <% end %>
      <%= link_to "", class: "icon-message" do %>
        <i class="fa-regular fa-comment"></i>
      <% end %>
    </div>
</div>
