<div class="navbar-meetwear" >
  <div class="wavy-bg" style="background-image: url('<%= image_url "wave1.svg"  %>');"></div>
  <div class="logo">
    <%= link_to root_path do %>
  <svg width="59" height="59" viewBox="0 0 59 59" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M52.6068 4.59546C53.9272 4.59546 54.9976 5.66584 54.9976 6.98623V6.98623C54.9976 7.79252 54.5912 8.54449 53.9167 8.98624L50.8972 10.9638C46.9351 13.5587 46.9737 19.3786 50.9698 21.9207L53.8962 23.7823C54.5821 24.2187 54.9976 24.9753 54.9976 25.7883V25.7883C54.9976 27.1014 53.9331 28.1658 52.62 28.1658H43.2124C36.7036 28.1658 31.4272 22.8894 31.4272 16.3806V16.3806C31.4272 9.87186 36.7036 4.59546 43.2124 4.59546L52.6068 4.59546Z" fill="#A6A6A6"/>
<path d="M28.1659 25.7751C28.1659 27.0955 27.0955 28.1659 25.7751 28.1659V28.1659C24.9688 28.1659 24.2168 27.7595 23.7751 27.085L21.7976 24.0655C19.2027 20.1034 13.3828 20.142 10.8406 24.1382L8.97902 27.0645C8.54265 27.7505 7.78602 28.1659 6.97302 28.1659V28.1659C5.65996 28.1659 4.59551 27.1014 4.59551 25.7884V16.3807C4.59551 9.87194 9.87191 4.59554 16.3807 4.59554V4.59554C22.8895 4.59554 28.1659 9.87195 28.1659 16.3807V25.7751Z" fill="#8E4FB7"/>
<path d="M25.0227 31.5753C26.7586 31.5753 28.1659 32.9826 28.1659 34.7185V34.7185C28.1659 35.859 27.548 36.91 26.5515 37.4648L24.2554 38.743C20.5343 40.8145 20.5914 46.1866 24.3558 48.1784L26.4717 49.298C27.5139 49.8495 28.1659 50.932 28.1659 52.1112V52.1112C28.1659 53.8689 26.7409 55.2939 24.9831 55.2939H16.3807C9.87191 55.2939 4.59551 49.9434 4.59551 43.4346V43.4346C4.59551 36.9258 9.87192 31.5753 16.3807 31.5753H25.0227Z" fill="#D6D6D6"/>
<path d="M31.4271 33.9274C31.4271 32.6284 32.4802 31.5753 33.7792 31.5753H52.6454C53.9444 31.5753 54.9974 32.6284 54.9974 33.9274V33.9274C54.9974 35.2264 53.9444 36.2795 52.6454 36.2795H50.3177C47.7332 36.2795 45.6381 38.3747 45.6381 40.9592V52.4606C45.6381 54.0254 44.3695 55.2939 42.8047 55.2939V55.2939C41.2399 55.2939 39.9713 54.0254 39.9713 52.4606V40.5516C39.9713 38.1922 38.0586 36.2795 35.6992 36.2795H33.7792C32.4802 36.2795 31.4271 35.2264 31.4271 33.9274V33.9274Z" fill="#622184"/>
</svg>
    <% end %>
  </div>
    <div class="navbar-navigation">
      <%= link_to "", class: "icon-bell" do %>
        <i class="fa-regular fa-bell"></i>
      <% end %>
      <%= link_to "", class: "icon-message" do %>
        <i class="fa-regular fa-comment"></i>
      <% end %>
    </div>
</div>
