<% if @current_action == 'ask_index' %>
  <div class="container">
    <div class="tabs" data-action="click->slider#toggle">
      <%= link_to root_path do %>
        <input type="radio" value="Share" id="radio-1" name="tabs" data-slider-target="shareInput"/>
      <% end %>
      <label data-slider-target="share" class="tab" for="radio-1">Share</label>
      <%= link_to ask_feed_path do %>
        <input type="radio" value="Ask" id="radio-2" name="tabs" data-slider-target="askInput" checked/>
      <% end %>
      <label data-slider-target="ask" class="tab ask-text" for="radio-2">Ask</label>
      <span data-slider-target="glider" class="glider ask-glider"></span>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="tabs" data-action="click->slider#toggle">
      <%= link_to root_path do %>
        <input type="radio" value="Share" id="radio-1" name="tabs" data-slider-target="shareInput" checked />
      <% end %>
      <label data-slider-target="share" class="tab share-text" for="radio-1">Share</label>
      <%= link_to ask_feed_path do %>
        <input type="radio" value="Ask" id="radio-2" name="tabs" data-slider-target="askInput"/>
      <% end %>
      <label data-slider-target="ask" class="tab" for="radio-2">Ask</label>
      <span data-slider-target="glider" class="glider share-glider"></span>
    </div>
  </div>
<% end %>
