<div class="custom-checkbox">
  <input id="status"
         type="checkbox"
         name="status">
  <label for="status">
    <div class="status-switch"
         data-unchecked="Off"
         data-checked="On">
    </div>
  </label>
</div>
