<% if @current_action == 'ask_index' %>
  <div class="container">
    <div class="tabs">
      <%= link_to root_path do %>
        <input type="radio" id="radio-1" name="tabs" />
      <% end %>
      <label class="tab" for="radio-1">Share</label>
      <%= link_to ask_feed_path do %>
        <input type="radio" id="radio-2" name="tabs" checked/>
      <% end %>
      <label class="tab ask-text" for="radio-2">Ask</label>
      <input type="radio" id="radio-3" name="tabs" />
      <label class="tab" for="radio-3">Dupe</label>
      <span class="glider ask-glider"></span>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="tabs">
      <%= link_to root_path do %>
        <input type="radio" id="radio-1" name="tabs" checked />
      <% end %>
      <label class="tab share-text" for="radio-1">Share</label>
      <%= link_to ask_feed_path do %>
        <input type="radio" id="radio-2" name="tabs" />
      <% end %>
      <label class="tab" for="radio-2">Ask</label>
      <input type="radio" id="radio-3" name="tabs" />
      <label class="tab" for="radio-3">Dupe</label>
      <span class="glider share-glider"></span>
    </div>
  </div>
<% end %>
