<div class="container">
	<div class="tabs">
		<input type="radio" id="radio-1" name="tabs" checked />
		<label class="tab" for="radio-1">Share</label>
		<input type="radio" id="radio-2" name="tabs" />
		<label class="tab" for="radio-2">Ask</label>
		<input type="radio" id="radio-3" name="tabs" />
		<label class="tab" for="radio-3">Dupe</label>
		<span class="glider"></span>
	</div>
</div>
