<%= render "shared/navbar" %>
  <div class="main-container">
      <%= render "shared/slider" %>
      <div id="home" >
        <div class="cards">
          <% @posts.each do |post| %>
            <%= render "posts/share_index", post: post %>
          <% end %>
        </div>
      </div>
  </div>


<%= render "shared/footer" %>
