<%= render "shared/navbar" %>
  <div class="main-container" data-controller="slider">
    <div data-action="click->slider#loadCards">
      <%= render "shared/slider" %>
    </div>
    <div id="home" >
      <div class="cards" data-slider-target="cards">
            <%= render "posts/share_index", posts: @posts %>
      </div>
    </div>
  </div>


<%= render "shared/footer" %>
