<%= render "shared/navbar" %>
  <div class="main-container">
    <%= render "shared/slider" %>

    <div data-slider-target="cards">
      <%= render "page_ask_index", posts: @posts %>
    </div>

  </div>
<%= render "shared/footer" %>
