<%= render "shared/navbar" %>
  <div class="main-container">
    <%= render "shared/slider" %>
    <% @posts.each do |post| %>
    <%= render "page_ask_index", post: post %>
    <% end %>
  </div>
<%= render "shared/footer" %>
