.low-text-feedback{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 15px;
}

.custom-button{
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid grey;
  color: black;
  background-color: white;
  margin-right: 13px;
  &:hover {
    color: black;
    background-color: rgb(219, 219, 219);
    text-decoration: none;
  }
}

.icon-helpful {
  margin: 0 5px;
}
.helpful {
  text-decoration: none;
  color: black;
}
