.low-text-feedback{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 15px;
}

.icon-helpful {
  position: absolute;
  top: 19px;
  left: 231px
}
.helpful {
  // padding: 8px 34px;
  padding: 10px 15px 10px 34px;
  border-radius: 20px;
  border: 1px solid grey;
  color: black;
  background-color: white;
  margin-right: 13px;
  &:hover {
    background-color: rgb(219, 219, 219);
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
}
.icon-helpful {
  margin: 0 5px;
}
.helpful {
  text-decoration: none !important;
  color: black;
}
