
#footer {
  position: fixed;
  bottom: 0;
  z-index: 999;

  .footer {
    justify-content: center;
    display: flex;
    padding: 20px;
    position: relative;

    .icon-home {
      position: absolute;
      left: 34px;
      top: -42px;
      font-size: 28px;
    }

    .icon-home::before {
      content: "" !important;
    }

    .icon-profile{
      position: absolute;
      right: -280px;
      top: -13px;
      font-size: 28px;
    }

    .wavy-footer{
      position: absolute;
      bottom: 0px;
      left: -42px;
      // svg {
      //   width: 100%;
      // }
    }

    .rounded-button {
      text-decoration: none;
      font-size: 30px;
      display: flex;
      width: 80px;
      height: 80px;
      background: $gradient;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      color: white;
    }

    .another-rounded-button {
      position: absolute;
      top: -70px;
      left: 134px;
    }
  }

}
