.navbar-meetwear {
  justify-content: space-between;
  background: $body-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .navbar-meetwear .navbar-navigation {
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-start;
// }

// .navbar-lewagon .img {
//   width: 40px;
// }
