.navbar-meetwear {
  justify-content: space-between;
  background: $body-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  .logo {
    margin-left: -2px;
  }
  .icon-star {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  .icon-message {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 10px;
  }
}
