.navbar-meetwear {
  justify-content: space-between;
  background: $body-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    margin-left: -10px;
    margin-top: 10px;
  }

  .navbar-navigation {

  }

  .icon-star {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  .icon-message {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 10px;
  }
  .icon-star::before {
    content: "" !important;
  }

}
