.cancel-card {
  display: flex;
  align-items: center;

  .icon-cancel {
    color: black;
    text-decoration: none;
    margin-right: 10px;
    position: relative;
    top: -7px;
  }
}

.add-image-card {
  height: 300px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background: linear-gradient(-60deg, white, #ae68dd, #7b41a0, #622184);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

  .plus {
    color: white;
    text-decoration: none;
    font-size: 70px;
  }
}

#post_description {
  height: 40px;
  border-radius: 10px;
  display: flex;
  border: none;
  background-color: white;
  margin-bottom: 10px;
  box-shadow: none;
    &:focus {
        background-color: white;
        box-shadow: none;
      }
  }



#post_post_type {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 18px;
    &:focus {
      box-shadow: none;
    }
}

.drop-down {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px !important;

  select {
    width: 100%;
  }
}


.checkbox-wrapper {
  display: flex;
  align-items: center;
}
.stupid-box {
  margin-right: 10px;
  .form-check {
    display: flex;
    align-items: center;

    label {
      margin-left: 10px;
    }
  }
}

.create-post-button {
  width: 100% !important;
  background: linear-gradient(90deg, #ae68dd, #7b41a0, #622184, #501768);
  color: white;
  border-radius: 25px !important;
  border: none;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px !important;
  transition: all 0.3s ease;
}

.create-post-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}


.tag-container {
  display: flex;
  flex-flow: row wrap;
}

.tag{
  pointer-events: none;
  background-color: white;
  color: #878787;
  padding: 8px;
  margin-right: 5px;
  border-radius: 10px;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px !important;

}

.tag::before {
  pointer-events: all;
  display: inline-block;
  content: 'x';
  height: 20px;
  width: 20px;
  margin-right: 6px;
  text-align: center;
  color: #878787;
  background-color: none;
}

#post_brand_tag {
  height: 40px;
  border-radius: 10px;
  display: flex;
  background-color: white;
  margin-bottom: 10px;
  border: none;
  box-shadow: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.form-check-input {
  padding: 10px !important;
  cursor: none;
  border-radius: 6px;
}

.form-check-input:checked {
  background-color: #622184;
  border-color: #622184;
}

.form-check-input:focus {
  box-shadow: none !important;
  outline: none !important;
}

#post_occasion {
  border: none;
  height: 40px;
  border-radius: 10px;
    &:focus {
      outline: none !important;
    }
}

#post_category {
  border: none;
  height: 40px;
  border-radius: 10px;
    &:focus {
      outline: none !important;
    }
}

.upload-photo {
  height: 300px;
  width: 100%;
  border-radius: 5%;
  object-fit: cover;

}

.hide-photo {
  opacity: 0;
  height: 0;
}
