.cancel-card {
  display: flex;

  .icon-cancel {
    color: black;
    text-decoration: none;
    margin-right: 10px;
  }
}

.add-image-card {
  height: 300px;
  border-radius: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: white;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white;

  .plus {
    color: #878787;
    text-decoration: none;
    font-size: 50px;
  }
}

.description-card input {
  height: 100px;
  border-radius: 3%;
  display: flex;
  border: white;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;


}
